@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  pointer-events: none;
  @apply p-6;
}

.main:after {
  content: "";
  background-image: url("/assets/images/bg.svg");
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.flex-between {
  @apply flex justify-between items-center;
}

/* Navigation */
nav.mainNav {
  @apply w-full mb-6 p-3;
  @apply bg-green-900;
  color: #eff5f7;
}

/* Lookup */
.bcvSelector {
  @apply w-full p-2 bg-green-600 bg-opacity-60 font-semibold text-gray-100 flex justify-between items-center cursor-pointer;
}

.plainSelector {
  @apply p-2 border border-gray-200 rounded cursor-pointer flex items-center gap-2 text-gray-600 w-full justify-between z-20;
}

.dropDown {
  @apply w-full absolute max-h-72 overflow-auto py-3 text-base bg-white shadow z-20;
}

.slideButton {
  @apply bg-transparent hover:bg-green-800 text-green-900 hover:text-white border border-green-800 py-1 px-3 mb-1 rounded-full text-xs;
}
